body {
    margin-top: 50px;
    background: white;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 15px;
    opacity: 0.4;
    font-size: 90px;
}

.left {
    margin-left: 210px;
}

.search {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.buttoncari {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #53bd84;
    background-color: #53bd84;
    color: #fafafa;
}

.buttoncari:hover {
    background-color: #fafafa;
    color: #207cca;
}