body {
    margin-top: 50px;
    background: white;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 15px;
    opacity: 0.4;
    font-size: 90px;
}

.left {
    margin-left: 210px;
}